{% extends 'base.html' %}

{% block 'body' %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Painel da Secretária</a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" href="{% url 'cadastrar_pacientes' %}">Cadastrar Paciente</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'agendamentos' %}">Realizar Agendamento</a>
        </li>

      </ul>

      <a href="{% url 'sair' %}" class="btn btn-danger">Sair</a>
    </div>
  </div>
</nav>

<br>

<div class="container">
  <h1>Dashboard da Secretária</h1>
  <p>Bem-vinda(o), {{ request.user.username }}.</p>

  <hr>

  <h4>Resumo rápido</h4>

  <p>Total de pacientes cadastrados: <strong>{{ pacientes.count }}</strong></p>
  <p>Total de agendamentos: <strong>{{ agendamentos.count }}</strong></p>
</div>

{% endblock %}
